/* Grundlegende Stile */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Container */
.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* Header */
header {
    background: #444;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 20px;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Abschnittstitel */
section h2 {
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #444;
}

/* Projekte */
.project {
    margin-bottom: 30px;
}

.project h3 {
    color: #555;
}

.project p {
    margin: 10px 0;
}

/* Kontakt */
#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    margin: 10px 0;
}

#contact ul li a {
    color: #444;
    text-decoration: none;
}

#contact ul li a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #f4f4f4;
    color: #555;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    border-top: 1px solid #ddd;
}

/* Kontaktformular-Stile */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Ankündigungsleiste-Stile */
.announcement-bar {
    background-color: #ffeb3b; /* Helles Gelb für Aufmerksamkeit */
    color: #333;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    position: relative;
    z-index: 1000;
}

.announcement-bar a {
    color: #d32f2f; /* Rot für den Link */
    text-decoration: none;
    font-weight: bold;
}

.announcement-bar a:hover {
    text-decoration: underline;
}